.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Runnatics.Ui/CopilotIndices/18.0.934.24903/CodeChunks.db
.vs/Runnatics.Ui/CopilotIndices/18.0.934.24903/SemanticSymbols.db
.vs/Runnatics.Ui.slnx/FileContentIndex/e4a0408e-c1f1-47bd-b1d2-ebe057fe70d2.vsidx
.vs/Runnatics.Ui.slnx/v18/.wsuo
.vs/Runnatics.Ui.slnx/v18/DocumentLayout.backup.json
.vs/Runnatics.Ui.slnx/v18/DocumentLayout.json
